body {
  margin: 0 auto;
  padding-top: 150px;
  background: white;
  font-weight: bold;
  text-align: center;
}

span {
  font-size: 70px;
}

.b:hover {
  color: #98c379;
}

.i:hover {
  color: #56b6c2;
}

.n:hover {
  color: #c6ad00;
}

.g:hover {
  color: #b400b9;
}

.y:hover {
  color: #c62d48;
}

.ii:hover {
  color: blue;
}

input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 13.3333px Arial;
	font-family: Merriweather;
	font-weight: 600;
  color: #535054;
}

input:not([type]), 
input[type=date], 
input[type=email], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], 
input[type=text]:not(.CodeMirror-search-field), input[type=url], 
select,
textarea {
	height: 38px;
  padding: 6px 10px;
  background-color: #fff;
	border: 1px solid #d4dada;
  border-radius: 3px;
  box-shadow: none;
  vertical-align: bottom;
}

input:not([type]), 
input[type=date], 
input[type=email], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], 
input[type=text], 
input[type=url], 
textarea {
	-webkit-appearance: none;
  width: 100%;
}

input:not([type]):focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:not(.CodeMirror-search-field):focus,
input[type=url]:focus,
select:focus,
textarea:focus {
  border: 1px solid #07682c;
  outline: 0;
}

button {
	white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

button:active {
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
